<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<!-- 新 Bootstrap 核心 CSS 文件 -->
<link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
 
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
 
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

<body>

  <div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<ul class="breadcrumb">
				<li>
					<a>iblog</a>
				</li>
				<li>
					<a href="/main">返回主页</a>
				</li>
				<li class="active">
					管理员中心
				</li>
			</ul>
		</div>
		<div class="col-md-12 column">
			<form class="navbar-form navbar-left" role="search" th:action="@{/user/searchUser}" method="post">
				<div class="form-group">
					<input type="text" class="form-control" name="searchUser" placeholder="用户名/姓名"/>
				</div> <button type="submit" class="btn btn-info">搜索</button>
			</form>
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-12 column">
			<table class="table">
				<thead>
					<tr>
						 <th>用户名</th>
              			 <th>姓名</th>
                          <th>电话</th>
              			 <th>生日</th>
             		     <th>性别</th>
             		     <th>年龄</th>
                         <th>邮箱</th>
                         <th>身份</th>
                         <th>状态</th>
                         <th>描述</th>
                         <th>操作</th>
					</tr>
				</thead>
				<tbody>
				
					<tr class="info"  th:each="user:${listAllUser}">
						
			             <td th:text="${user.userName}"></td>
			              <td th:text="${user.userLoginname}"></td>
			             <td th:text="${user.userTel}"></td>
			              <td th:text="${user.userBirth}"></td>
			             <td th:text="${user.userGender}"></td>
			             <td th:text="${user.age}"></td>
			              <td th:text="${user.userMail}"></td>
			             <td th:text="${user.userIdentity}"></td>
			              <td th:text="${user.userState}"></td>
			             <td th:text="${user.userDescribe}"></td>
			             <td>
			                <button class="btn btn-info" type="submit"  th:onClick="location.href='adminUpdateUserInfo?userNumber=[[${user.userNumber}]]'">修改</button>
			                
			                <button class="btn btn-warning" type="submit"   th:onClick="location.href='adminUpdateState?userNumber=[[${user.userNumber}]]'" th:if="${user.userState}"> 禁用</button>
			                <button class="btn btn-success" type="submit"   th:onClick="location.href='adminUpdateState?userNumber=[[${user.userNumber}]]'" th:if="${not user.userState}">启用 </button>
			               
			                <button class="btn btn-info" type="submit"   th:onClick="location.href='adminUpdateIdentity?userNumber=[[${user.userNumber}]]'" th:if="${user.userIdentity} eq '管理员'">取消管理员</button>
			                <button class="btn btn-success" type="submit"   th:onClick="location.href='adminUpdateIdentity?userNumber=[[${user.userNumber}]]'" th:if="${user.userIdentity} eq '普通用户'">设置管理员</button>
			             </td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	  <div class="row clearfix" style="position: fixed;bottom: 30px;left:50%;transform: translate(-50%,50%)">
		  <div class="col-md-12 column" th:insert="~{layout/fragment::footer}">
		  </div>
	  </div>
</div>
</body>
</html>