<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- 新 Bootstrap 核心 CSS 文件 -->
	<link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	 
	<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	 
	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	 <script type="text/javascript" src="js/Calendar3.js"></script>

</head>
<body>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="row clearfix">
				<div class="col-md-1 column">
				</div>
				<div class="col-md-10 column">
					<div class="page-header">
						<h1>
							我的中心
						</h1>
					</div>
				</div>
				<div class="col-md-1 column">
				</div>
			</div>
			<div class="row clearfix">
				<div class="col-md-1 column">
				</div>
				<div class="col-md-10 column">
					<ul class="breadcrumb">
						<li>
							 <a>iblog</a>
						</li>
						<li>
							 <a href="/main">主页</a>
						</li>
						<li class="active">
							我的中心
						</li>
					</ul>
				</div>
				<div class="col-md-1 column">
				</div>
			</div>
			<div class="row clearfix">
				<div class="col-md-1 column">
				</div>
				<div class="col-md-2 column">
					<div class="list-group">
						<div  class="list-group-item active">
							
						</div>
						<div class="list-group-item">
							<a href="../article/addArticle" style="color:black">我的文章</a>
						</div>
						<div class="list-group-item">
							<a href="../label/addLabel" style="color:black">我的标签</a>
						</div>
						<div class="list-group-item">
							<a href="myFouces" style="color:black">我的关注</a>
						</div>
						<div class="list-group-item">
							<a href="resetMyInfo" style="color:black">我的信息</a>
						</div>
						<div class="list-group-item active">
							<a style="color:black">修改密码</a>
						</div>
						<div  class="list-group-item active">
							
						</div>
					</div>
				</div>
				<div class="col-md-6 column">
					
					
					
					
					<div class="row clearfix">
						<div class="col-md-1 column">
						</div>
						<div class="col-md-10 column">
							
							<form class="form-horizontal" role="form" th:action="@{/user/resetPassword}" method="post">
									<div class="form-group">
										 <label for="password">原密码：</label><input class="form-control" id="olduserPassword" name="olduserPassword" type="password" />
									</div>
									<div class="form-group">
										 <label for="password">新密码：</label><input class="form-control" id="userPassword" name="userPassword" type="password" />
									</div>
									<div class="form-group">
										 <label for="password">再次输入：</label><input class="form-control" id="userPassword2" name="userPassword2" type="password" />
									</div>
									
									<div class="button">
										<button class="btn btn-default" type="submit">修改</button>
									</div>
								</form>
							<div class="col-md-12 column"style="color:red;" th:text=${PasswordMessage}></div>
							<div class="col-md-12 column"style="color:red;" th:text=${PasswordMessage2}></div>
						</div>
						<div class="col-md-1 column">
						</div>
					</div>
				
				
				</div>
				<div class="col-md-2 column">
					<div class="row clearfix">
						<div class="col-md-12 column">
							<img alt="140x140" src="/img/4.jpg" class="img-circle" />
							<div class="row clearfix">
								<div class="col-md-12 column" style="text-align: center">
									<blockquote>
										<h5 th:text="'个性签名:'+${session.user.userDescribe}"></h5>
									</blockquote>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-1 column">
				</div>
			</div>
		</div>
	</div>
	<div class="row clearfix" style="position: fixed;bottom: 30px;left:50%;transform: translate(-50%,50%)">
		<div class="col-md-12 column" th:insert="~{layout/fragment::footer}">
		</div>
	</div>
</div>
</body>
</html>